<%- include('baseHead', { data: { title: "Reset password" }, }); %>

    <form action="/v1/auth/resetPassword/<%= user.tokenMail %>" method="post">
        <input name="email" type="text" value="<%= user.email %>" style="display: none;">
        <label for="password">Set new password for <%= user.email %></label><br>
        <input name="password" type="password"><br>
        <input type="submit" value="Submit">
    </form>

<%- include('baseBottom'); %>